$Open: 'Open Sans', sans-serif;
$Proxima: 'Proxima Nova', sans-serif;

$colorBlue: #23b3fe;
$colorGrey: #a1a7ac;
$colorBack: #26292d;
$colorCont: #24272b;
$colorFb: #2690c3;
$colorVeryGrey: #5b5d60;
.test {
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    h2{
        margin-top: 5rem;
        font-family:$Open;
        color: white;
    }
    #test-after-h2 {
        margin-top: 3rem;
    }
    #test-global-row {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        .arow{
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    .col-3{
        img{
            width: 13rem;
            margin-top: -3rem;
            margin-left: -2rem;
        }
        #facebook{
            margin-left: 1rem;
            margin-top: 1rem;
           i{
               color: $colorFb;
           }
           p{
            
            color: $colorFb;
            margin-left: .5rem;
            font-family: $Proxima;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1rem; 
           }
        }
        p{
            margin-left: .5rem;
            color: $colorVeryGrey;
            font-family: $Proxima;
            font-size: 1rem;
            line-height: 1rem;   
        }
    }
    .col-sm {
      .test-hedline{
        margin-top: 1.5rem;
        color: $colorGrey;
        font-family: $Proxima;
        font-size: 1.2rem;
        line-height: 1rem; 
        text-transform: uppercase; 
      }
      .test-after{
        color: $colorVeryGrey;
        font-family: $Proxima;
        font-size: 1rem;
        line-height: 1rem;  
      }
      p{
        color: $colorGrey;
        font-family: $Proxima;
        font-size: 1rem;
        line-height: 1.5rem;  
      }
      .row{
        overflow: hidden;
      }
      img{
          float: flex-end;
          overflow: hidden;
          margin-bottom: -1rem;
      }
    }
    #bottom-div{
        height: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: -1rem;
        background-color: $colorCont;
        box-shadow: 0rem 0.27rem 1.1rem rgba(0, 0, 0, 0.959);      
    
    }
    #test-div-col-5{
        background-color: $colorCont;
        box-shadow: 0rem 0.27rem 1.1rem rgba(0, 0, 0, 0.959);
 
    }
    @media screen and (max-width: 1700px) {
.col-5{
    flex: 0 0 55.666667%;
    max-width: 55.666667%;
}
}
@media screen and (max-width: 1300px) {
    .col-5{
        flex: 0 0 70.666667%;
        max-width: 70.666667%;
    }   
}
@media screen and (max-width: 1000px) {
    .col-5{
        flex: 0 0 80.666667%;
        max-width: 80.666667%;
    }   
}
@media screen and (max-width: 880px) {
    .col-5{
        flex: 0 0 75.666667%;
        max-width: 75.666667%;
    } 
.col-3{
    img{
        width: 10rem;
        margin-top: -3rem;
        margin-left: -2rem;
    }
    #facebook{
       p{ 
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1rem; 
       }
    }
    p{
        margin-left: 1rem;
        font-size: 0.6rem;
        line-height: 0.5rem;   
    }
}
.col-sm {
    .test-hedline{
      font-size: 1rem;
      line-height: 1rem; 
    }
    .test-after{
      font-size: .8rem;
      line-height: 1rem;  
    }
    p{
      color: $colorGrey;
      font-family: $Proxima;
      font-size: .8rem;
      line-height: 1rem;  
    }
}
}
@media screen and (max-width: 640px) {
 #test-global-row .arow {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 576px) {
    #test-global-row{
        margin-top: 3rem;
    }
    #test-mob-row{
        display:flex;
        justify-content: center;
    }
    .col-3{
        flex: 0 0 100%;
    max-width: 100%;
        img{
            width: 11rem;
            margin-top: -2rem;
            margin-left: 0rem;
        }
    }
   }
   @media screen and (max-width: 375px) {
    .col-5{
        flex: 0 0 70.666667%;
        max-width: 70.666667%;
    } 
    #test-global-row .arow {
        margin-left: .5rem;
        margin-right: .5rem;
    }
   }
   @media screen and (max-width: 310px) {
    .col-5{
        flex: 0 0 60.666667%;
        max-width: 60.666667%;
    } 
    .col-3{
        flex: 0 0 100%;
    max-width: 100%;
        img{
            width: 100%;
            margin-top: -2rem;
            margin-left: 0rem;
        }
    }
   }

}